*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: block;
  width: 100%;
  height: 100%;
}

nav{
  width: 100%;
  height: 60px;
  background-color: #0f1111;
  z-index: 200;
  display: flex;
}

.logo{
  height: 60px;
  display: flex;
}

.amazon-logo{
  height: 30px;
  object-fit: cover;
  padding: 20px 0px 10px 20px;
}
.logo-text{
  color: white;
  padding-top: 20px;
  font-weight: bold;
}

.location-box{
  margin-left: 25px;
  margin-top: 15px;
  color: white;
}

.location-text p{
  color: #aaaaaa;
  font-size: 12px;
  margin-left: 15px;
}

.location-icon{
  display: flex;
  color: white;
}

.location-icon p{
  font-weight: bold;
  font-size: 16px;
  margin-left: 5px;
}

.search-bar{
  display: flex;
  align-items: center;
}

.search-bar select{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 55px;
  height: 40px;
  margin-left: 20px;
  padding: 0 0 0 10px;
  border-radius: 5px 0px 0px 5px;
  background: #ddd;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: 1px solid #ddd;
  outline: none;
}

.search-bar option{
  background-color: #ffffff;
}

.search-bar select:focus{
  outline: none;
  border: 3px solid orange;
}

.search-bar .search{
  width: 500px;
  height: 40px;
  padding: 0 0 0 10px;
  border-radius: 0px 0px 0px 0px;
  border: 0px;
  outline: 0px;
}

.search-bar .search:focus{
  border: 0;
  outline: 0;
}

.search::placeholder{
  font-size: 17px;
}

.search-icon{
  width: 50px;
  height: 40px;
  background-color: #febd69;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  border: none;
  outline: 0;
}

.search-icon:active{
  border: none;
  outline: none;
}

.country {
  display: flex;
  padding: 12px 0 0 20px;
  position: relative;
}

.country img{
  width: 20px;
  height: 40px;
}

.country p{
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 0 0 5px;
}

.country svg{
  padding-top: 7px;
}

.account-dash{
  color: white;
  padding: 15px 0 0 10px;
  font-weight: bold;
}

.account-name{
  font-size: 12px;
}

.account-list{
  font-size: 14px;
  display: flex;
  padding-top: 3px;
}

.account-list svg{
  width: 20px;
}

.orders{
  color: white;
  font-weight: bold;
  padding: 15px 0 0 10px;
}

.orders p:nth-child(1){
  font-size: 12px;
  font-weight: 300;
}

.orders p:nth-child(2){
  font-size: 14px;
}

.cart{
  padding: 0 0 0 25px;
}

.cart p{
  color: white;
}

.cart p:nth-child(1){
  font-size: 14px;
  color: orangered;
  position: relative;
  top: 18px;
  left: 18px;
  font-weight: bold;
}

.cart-inner p{
  padding: 13px 0 0 5px;
  font-size: 14px;
  font-weight: bold;
}

.cart-inner{
  display: flex;
}

.hover-menu{
  position: absolute;
  top: 55px;
  left: 20px;
  width: 250px;
  height: 390px;
  background-color: whitesmoke;
  z-index: 200;
  display: none;
  border: none;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: -1;
  width: 100%;
  height: 100%;
}


.country:hover .hover-menu{
  display: block;
}

.country:hover .overlay{
  display: block;
}


.language-box{
  padding: 10px 20px;
  line-height: 30px;
  font-size: 12px;
}

.language-box .line{
  margin-top: 5px;
  margin-bottom: 15px;
}

.language-box input{
  accent-color: orange;
  outline: none;
  border: none;
}

.language-box input:hover, input:focus, input:active{
  outline: none;
  border: none;
}

.hover-menu-amazon-box{
  display: flex;
  margin-left: 10px;
}
.hover-menu-amazon-box p{
  color: black;
  font-size: 13px;
}

.hover-menu-learn-more{
  font-size: 14px;
  margin-left: 25px;
  margin-top: 10px;
}

.hover-menu-change-country{
  margin-left: 10px;
  font-size: 13px;
}

.nav-2{
  background-color: #232f3e;
  display: flex;
  width: 100%;
  height: 40px;
}

.left{
  display: flex;
}

.icon-box{
  color: white;
  padding: 12px 0 0 20px;
  font-size: 18px;
  display: flex;
}

.icon-box p{
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

.nav-links{
  padding: 0 0 0 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-links a{
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
}

.nav-links svg{
  margin-left: -20px;
}

.right{
  display: flex;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 100px;
}

.prev{
  position: absolute;
  top: 290px;
  left: 400px;
  
}

.next{
  position: absolute;
  top: 290px;
  right: 420px;
}

